extends ../layout

block content
    form#payment-form(action='/checkout', method='post')
        .form-row
            label(for='card-element') Credit or debit card
            #card-element
            #card-errors(role='alert')
    button Submit Payment
    
    link(rel='stylesheet', href='/stylesheets/stripe.css')