extends ../layout

block content
  each val in products
    
    .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src=this.imagePath, alt='...' class='image-resonsive')
        .caption
          h3=this.title
          p=this.description 
          .clearfix
            .price
              p=this.price
                a.btn.btn-primary.pull-right(href='#', role='button') Button  
    
  

       
       



